$color: rgb(255, 255, 255);
$secondary-color: rgb(0, 0, 0);
$color-dark: scale-color($color, $lightness: -80%);

$transition: 280ms all 120ms ease-out;

* {
  box-sizing: border-box;
}

.dropdown-title {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

nav {
  background-color: $color;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;

  > ul {
    grid-auto-flow: column;

    > li {
      margin: 0 0.5rem;

      a,
      .dropdown-title {
        text-decoration: none;
        text-align: center;
        display: inline-block;
        color: $secondary-color;
        font-size: 1.125rem;

        &:focus {
          outline: none;
        }
      }

      > a,
      .dropdown-title {
        padding: 1rem 0.5rem;
        border-bottom: 3px solid transparent;
        transition: $transition;

        &:hover,
        &:focus {
          border-bottom-color: $secondary-color;
          color: $secondary-color;
        }
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;

    li {
      padding: 0;
    }
  }
}

.dropdown {
  position: relative;

  .dropdown-title {
    display: inline-flex;
    align-items: center;

    &:after {
      content: "";
      border: 0.35rem solid transparent;
      border-top-color: $secondary-color;
      margin-left: 0.25em;
      transform: translateY(0.15em);
    }
  }

  .dropdown-menu {
    position: absolute;
    min-width: 15ch;
    left: 50%;
    top: calc(100% - 0.15rem);
    transition: $transition;
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    visibility: hidden;
    opacity: 0.3;
    padding: 0em 0;
    background-color: #dddddd4f;
    border-radius: 4px;
    box-shadow: 0 0.15em 0.25em rgba(black, 0.25);

    a {
      color: $color-dark;
      display: block;
      padding: 0.5em;
      opacity: 0;
      border-radius: 2px;
      position: relative;
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom-color: $secondary-color;
        &:before {
          content: "";
          position: absolute;
          border: 0.35rem solid transparent;
          border-top-color: $secondary-color;
          left: 0;
          top: 40%;
          transform: rotate(-90deg);
        }
      }

      &:focus {
        outline: none;
        border-bottom-color: $secondary-color;
        &:before {
          content: "";
          position: absolute;
          border: 0.35rem solid transparent;
          border-top-color: $secondary-color;
          left: 0;
          top: 40%;
          transform: rotate(-90deg);
        }
      }
    }
  }

  &:hover,
  &:focus-within {
    .dropdown-title {
      border-top-color: $secondary-color;
    }

    .dropdown-menu {
      opacity: 1;
      transform: rotateX(0) translateX(-50%);
      visibility: visible;

      a {
        opacity: 1;
      }
    }

    &:after {
      opacity: 1;
    }
  }
}

.hidden-dropdown {
  &::after {
    display: none;
  }

  .hidden-dropdown-menu {
    display: none;
  }
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
